*{
    font-family: Noto Sans KR;
}

.background {
position: absolute;
width: 100%;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(30.59% 50% at 42.79% 50%, #CDBCDB 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(50.42% 90.14% at 56.33% 0%, #AAD59E 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(38.44% 70.99% at 100% 3.89%, #FDD848 0%, rgba(253, 216, 72, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(72.9% 96.81% at 13.26% 3.19%, #9AB2D4 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(67.08deg, #F6C3AE 32.12%, rgba(255, 255, 255, 0) 83.77%), radial-gradient(81.2% 163.46% at 102.92% 115.65%, #F0743E 0%, rgba(217, 217, 217, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}


.header{
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
}

.title{
    left: 10%;
    top: 34px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Noto Sans KR;
    font-weight: 700;
    word-wrap: break-word;
}

.empty{
    height:260px;
}

.box{
    width: 80%;
    position:relative;
    margin:0 auto;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    padding-bottom:100px;
    justify-content: center;
}

.subtitle{
    padding-top:100px;
    position: relative;
    color: black;
    text-align: center;
    font-size: 36px;
    font-family: Noto Sans KR;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom:100px;
}

.formbox{
    position:relative;
    width:80%;
    justify-content:center;
    margin:0 auto;
    padding-top:48px;  
}

.form-label{
    position: relative;
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Noto Sans KR;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom:100px;
}

.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.explain_box{
    margin-top:100px;
    margin-bottom:100px;
    text-align: center;
    padding-left:10%;
    padding-right:10%;
}

.explain{
    position: relative;
    color: black;
    font-size: 20px;
    font-family: Noto Sans KR; font-weight: 400; word-wrap: break-word
}

.button_box >p{
    margin-bottom:20px;
}

.transformbox{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-bottom:100px;
}


.transformButton{
    width: 300px;
    height: 80px;
    margin-top:100px;
    background: #F0743E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border-style: none;
    margin: 0 auto;
}

.transformButton > span{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-family: Noto Sans KR;
    font-weight: 700;
}

.foot{
    position:relative;
    z-index:10;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:72px;
    margin-bottom:72px;
}

.foot span{
    text-align: center;
    font-size: 16px;
    font-family: Noto Sans KR;
    color:#000;
    font-weight: 400;
}

.button_box{
    margin: 0 auto;
    width:80%;
    align-items: center;
}

.btn-check{
    margin-left:10px;
    
}

/* 커스텀 스타일 추가 */
.button_box .btn-secondary {
    background-color: #c3e3f8; /* 바꾸고자 하는 배경색으로 설정 */
    border-color: #3498db; /* 바꾸고자 하는 테두리 색상으로 설정 */
    color: #fff; /* 바꾸고자 하는 텍스트 색상으로 설정 */
  }
  
  .button_box .btn-secondary:hover {
    background-color: #c3e3f8; /* 호버 시 배경색 변경 */
    border-color: #2980b9; /* 호버 시 테두리 색상 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
  }
  
  .button_box .btn-check:checked + .btn-secondary,
  .button_box .btn-secondary.active {
    background-color: #2980b9; /* 선택된 상태 배경색 변경 */
    border-color: #2980b9; /* 선택된 상태 테두리 색상 변경 */
    color: #fff; /* 선택된 상태 텍스트 색상 변경 */
  }
  
  