<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>Spakers in Text</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>

<body>
    <div class="background">
        <div class="header">
            <a href="/">
                <span class="title">Nouvel : Novel for you</span>
            </a>
        </div>
        <div class="empty"></div>
        <div class="box">
            <p class="subtitle">서비스 소개</p>
            <div class="explain-box">
                <span class="explain">작 업 중</span>
            </div>
            <div class="buttonbox">
                <button onClick="location.href='put.html'" class="start-button">
                    <span>시작하기</span>
                </button>
            </div>
        </div>
        <div class="foot">
            <div class="footer-text">
                <span>고려대학교 지능정보 SW 아카데미 5조</span>
            </div>
        </div>
    </div>
</body>

</html>