<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>Show Page</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/result.css') }}">
</head>
<body>
    <div class="background">
        <div class="header">
            <a href="/">
                <span class="title">Nouvel : Novel for you</span>
            </a>
        </div>
        <div class="empty"></div>
        <div class="box">
            <div class="body">
                <pre>
                    {% for line in name_list %}
                        {{ line }}	
                    {% endfor %}
                </pre>
            </div>
        </div>
        <div class="foot">
            <div class="footer-text">
                <span>고려대학교 지능정보 SW 아카데미 5조</span>
            </div>  
        </div>
    </div>
</body>
</html>
